<template>
  <div class="players">
    <h1>Players</h1>
    <div v-if="error">
      {{ error }}
    </div>
     <Suspense v-else>
      <template #default>
        <PlayersList />
      </template>
      <template #fallback>
        <h3>Loading players from database...</h3>
      </template>
    </Suspense>
  </div>
</template>

<script lang="ts">
import { onErrorCaptured, ref } from 'vue';
import PlayersList from '@/components/PlayersList.vue';

export default {
  name: 'Players',

  components: {
    PlayersList,
  },

  setup(): Record<string, unknown> {
    const error = ref();
    onErrorCaptured((e): true => {
      error.value = e;
      return true;
    });
    return { error };
  },
};
</script>
