<template>
  <div class="container">
    <div class="row">
      <div class="d-flex justify-content-center">
        <router-link to="/tournaments">&#11148; Back</router-link>
      </div>
      <div>
        <h3>{{ tournamentDetails.name }}</h3>
        <h3>{{ tournamentDetails.date }}</h3>
        <h3>{{ tournamentDetails.location }}</h3>
      </div>
    </div>
    <div class="row">
      <Suspense>
        <template #default>
          <MatchesList :tournamentId="tournamentId" />
        </template>
        <template #fallback>
          <h3>Loading matches from the database</h3>
        </template>
      </Suspense>
    </div>
    <div class="row">
      <div class="col-12">
        <button v-on:click="createMatch" class="p-2 rounded bg-sky-600 hover:bg-sky-700">
          Create match
        </button>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue';
import { useRoute } from 'vue-router';
import { Tournament } from '@/interfaces/Tournament';
import Api from '@/services/Api';
import MatchesList from '@/components/MatchesList.vue';

export default defineComponent({
  name: 'TournamentDetails',
  components: {
    MatchesList,
  },
  setup() {
    const route = useRoute();
    const tournamentId = Number(route.params.tournamentId);
    const current = new Date();
    const date = `${current.getDate()}/${current.getMonth() + 1}/${current.getFullYear()}`;
    const newMatch = {
      date,
      tournamentId,
    };
    return {
      tournamentId,
      newMatch,
    };
  },

  data() {
    return {
      tournamentDetails: {} as Tournament,
    };
  },

  computed: {
    castTournamentId(): number {
      return Number(this.tournamentId);
    },

  },

  methods: {
    async createMatch(): Promise<void> {
      Api.post('matches', { json: this.newMatch }).json();
    },
  },

  async mounted(): Promise<void> {
    const info: Tournament = await Api.get(`tournaments/${this.tournamentId}`).json();
    this.tournamentDetails = info;
  },
});
</script>
