<template>
  <div class="tournaments">
    <h1>Tournaments</h1>
        <div v-if="error">
      {{ error }}
    </div>
    <Suspense v-else>
      <template #default>
        <TournamentsList />
      </template>
      <template #fallback>
        <h3>Loading tournaments from database...</h3>
      </template>
    </Suspense>
  </div>
</template>

<script lang="ts">
import { onErrorCaptured, ref } from 'vue';
import TournamentsList from '@/components/TournamentsList.vue';

export default {
  name: 'Tournaments',
  components: {
    TournamentsList,
  },

  setup(): Record<string, unknown> {
    const error = ref();
    onErrorCaptured((e): true => {
      error.value = e;
      return true;
    });
    return { error };
  },
};
</script>
