<template>
  <SmallCard
    :header='cardTitle'
    content='Podsumowanie meczu tutaj ale później'
    :meta='match.date'
    />
</template>

<script lang="ts">
import { defineComponent, PropType, computed } from 'vue';
import { Match } from '@/interfaces/Match';
import SmallCard from '@/components/SmallCard.vue';

export default defineComponent({
  name: 'MatchesListItem',

  components: {
    SmallCard,
  },

  props: {
    match: {
      type: Object as PropType<Match>,
      required: true,
      default: () => ({}),
    },
  },

  setup(props) {
    const cardTitle = computed(() => `Match ${props.match.id}`);
    return {
      cardTitle,
    };
  },
});
</script>
