<template>
  <div class='matchesList'>
    <div class="p-10 grid grid-cols-1 sm:grid-cols-1 md:grid-cols-3
    lg:grid-cols-3 xl:grid-cols-3 gap-5" v-if="matches.length > 0">
      <MatchesListItem v-for="(match, index) in matches"
        v-bind:id="match.id"
       :key="index"
       :match="match" />
    </div>
    <h1 v-else>No matches in this tournament</h1>
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue';
import Api from '@/services/Api';
import { Match } from '@/interfaces/Match';
import MatchesListItem from '@/components/MatchesListItem.vue';

export default defineComponent({
  name: 'MatchesList',

  components: {
    MatchesListItem,
  },

  props: {
    tournamentId: {
      type: Number,
      required: true,
    },
  },

  async setup(props) {
    const matches: Match[] = await Api.get(`tournaments/${props.tournamentId}/matches`).json();
    return {
      matches,
    };
  },
});
</script>
