<template>
<div class="playersList">
  <div class="p-10 grid grid-cols-1 sm:grid-cols-1 md:grid-cols-3
  lg:grid-cols-5 xl:grid-cols-7 gap-5" v-if="players.length > 0">
    <PlayersListItem v-for="(player, index) in players" v-bind:id="player.id"
    :player="player" :key="index" />
  </div>
  <h1 v-else>No players available :(</h1>
</div>
</template>

<script lang="ts">
import { defineComponent } from 'vue';
import { Player } from '@/interfaces/Player';
import Api from '@/services/Api';
import PlayersListItem from '@/components/PlayersListItem.vue';

export default defineComponent({
  name: 'PlayerList',

  components: { PlayersListItem },
  async setup() {
    const players: Player[] = await Api.get('players').json();
    return {
      players,
    };
  },
});
</script>
