<template>
  <SmallCard
    :header="player.name"
    :content="player.photo"
    :meta="player.city"
    route_name='PlayerDetails'
    :route_params="playerDetailsRouteParams"
    />
</template>

<script lang="ts">
import { defineComponent, PropType, computed } from 'vue';
import { Player } from '@/interfaces/Player';
import SmallCard from '@/components/SmallCard.vue';

export default defineComponent({
  name: 'PlayerListItem',

  components: {
    SmallCard,
  },

  props: {
    player: {
      type: Object as PropType<Player>,
      required: true,
      default: () => ({}),
    },
  },

  setup(props) {
    const playerDetailsRouteParams = computed(() => ({
      playerId: props.player.id,
    }));

    return {
      playerDetailsRouteParams,
    };
  },
});
</script>
