<template>
  <div
    class="card"
    @mouseover="hovered = true"
    @mouseleave="hovered = false"
    @click.prevent="goToDetails"
    :class="{'shadow-2xl': hovered}">
      <div class="px-6 py-4">
        <div class="font-bold text-xl mb-2">{{ header }}</div>
        <p class="text-gray-700 text-base">
          {{ content }}
        </p>
      </div>
      <div class="px-6 pt-4 pb-2">
        <span class="inline-block bg-gray-200 rounded-full px-3
        py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">
        {{ meta }}</span>
      </div>
  </div>
</template>

<script lang="ts">
import { defineComponent, PropType } from 'vue';
import { useRouter } from 'vue-router';

type Json = Record<string, string | number | (string | number)[] | null | undefined>

export default defineComponent({
  name: 'SmallCard',

  props: {
    header: {
      type: String,
      required: false,
      default: '',
    },
    content: {
      type: String,
      required: false,
      default: '',
    },
    meta: {
      type: String,
      required: false,
      default: '',
    },
    route_name: {
      type: String,
      required: false,
      default: '',
    },
    route_params: {
      type: Object as PropType<Json>,
      required: false,
      default: () => ({}),
    },
  },

  setup(props) {
    const router = useRouter();
    const toggleShadow = (element: HTMLElement) => {
      element.classList.toggle('.shadow-lg');
    };

    const goToDetails = () => {
      router.push({ name: props.route_name, params: props.route_params });
    };

    return {
      goToDetails,
      toggleShadow,
    };
  },

  data() {
    return {
      hovered: false,
    };
  },
});
</script>
