<template>
  <SmallCard
    :header="tournament.name"
    :content="tournament.location"
    :meta="tournament.date"
    route_name='TournamentDetails'
    :route_params="tournamentRouteParams"
    />
</template>

<script lang="ts">
import { defineComponent, PropType, computed } from 'vue';
import { Tournament } from '@/interfaces/Tournament';
import SmallCard from '@/components/SmallCard.vue';

export default defineComponent({
  name: 'TournamentsListItem',

  components: {
    SmallCard,
  },

  props: {
    tournament: {
      type: Object as PropType<Tournament>,
      required: true,
      default: () => ({}),
    },
  },

  setup(props) {
    const tournamentRouteParams = computed(() => ({
      tournamentId: props.tournament.id,
    }));

    return {
      tournamentRouteParams,
    };
  },
});
</script>
