<template>
  <div class='tournamentsList'>
    <div class="p-10 grid grid-cols-1 sm:grid-cols-1 md:grid-cols-3
    lg:grid-cols-3 xl:grid-cols-3 gap-5" v-if="tournaments.length > 0">
      <TournamentsListItem v-for="(tournament, index) in tournaments"
        v-bind:id="tournament.id"
       :key="index"
       :tournament="tournament" />
    </div>
    <h1 v-else>No tournaments available :(</h1>
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue';
import Api from '@/services/Api';
import { Tournament } from '@/interfaces/Tournament';
import TournamentsListItem from '@/components/TournamentsListItem.vue';

export default defineComponent({
  name: 'TournamentsList',

  components: {
    TournamentsListItem,
  },

  async setup() {
    const tournaments: Tournament[] = await Api.get('tournaments').json();
    return {
      tournaments,
    };
  },
});
</script>
