@tailwind base;

h1 {
  @apply text-2xl;
}

h2 {
  @apply text-xl;
}

.card {
  @apply cursor-pointer rounded overflow-hidden shadow;
}

@tailwind components;

@screen lg {
  .card-list {
    @apply flex flex-wrap justify-center;
  }
}

@tailwind utilities;
